<h1>callback</h1>

<form action="/data" method="post">
  <input type="hidden" name="latitude" id="latitude" />
  <input type="hidden" name="longitude" id="longitude" />
  <button id="find-me" type="submit" onclick="getLocation()">Show my location</button><br />
</form>




